<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />

<script>
$(function() {

	$.get(selected_url,function(data,status){
    		alert("Data: " + data + "\nStatus: " + status);
  			 
  			 });

});
$("#show_ingredients").click(function() {
    $('html,body').animate({
        scrollTop: $(".ingredien").offset().top},
        'slow');
});
$("#show_directions").click(function() {
    $('html,body').animate({
        scrollTop: $(".directio").offset().top},
        'slow');
});
$("#show_nutrient").click(function() {
    $('html,body').animate({
        scrollTop: $(".nutrien").offset().top},
        'slow');
});

</script>

</head>
<body>
<header data-role="header">
<a data-rel="back">Back</a><h1>Smart Cut Recipe Finder</h1>
</header>
<div>
<nav data-role="navbar">
		<ul>
			<li><a href="#" id="show_ingredients">Ingredients</a></li>
			<li><a href="#" id="show_directions">Directions</a></li>
			<li><a href="#" id="show_nutrient">Nutrient Info</a></li>
		</ul>
</nav>
</div>

<br>
<div id="show1" >
<table style="width:100%" border="0">
<tr><td style="width:50%;padding-left: 300px;background-color: DarkGray;"><img src="<%=image%>"></td>
<td style="width:50%;background-color:lightgray;"> Title:  <b><%=name%></b><br>
Serves:  <b><%=serves%></b><br>
Yields:  <b><%=yields%></b><br>
Cost:  <b>$ <%=cost%></b></td></tr></table><br>
<h1 class="ingredien" style="color:red; background-color:lightgray;text-align: center">INGREDIENTS</h1>
<br>
<table style="width:100%" border="1">
<tr><td  style="word-wrap:break-word;width:30%;padding-left: 150px;"><b>Name</b></td><td  style="word-wrap:break-word;width:20%;padding-left: 100px;"><b>Quantity</b></td><td  style="word-wrap:break-word;width:20%;padding-left: 100px;"><b>Unit</b></td><td  style="word-wrap:break-word;width:30%;padding-left: 150px;"><b>Preparation</b></td></tr>
<% for(var i in ingredients){
%> 
<tr><td  style="word-wrap:break-word;width:30%;padding-left: 150px;"><%=ingredients[i].name%></td><td  style="word-wrap:break-word;width:20%;padding-left: 100px;"><%=ingredients[i].quantity%></td><td  style="word-wrap:break-word;width:20%;padding-left: 100px;"><%=ingredients[i].unit%></td><td  style="word-wrap:break-word;width:30%;padding-left: 150px;"><%=ingredients[i].preparation%></td></tr>
<%}%>
</table><br><br><br>
<h1 class="directio" style="color:blue; background-color:lightgray;text-align: center">DIRECTIONS</h1>
<br>
<ul style="list-style-type: decimal;">
<% for(var i in directions){
%><li><%=directions[i]%></li>
<%}%>
</ul>
<br><br><br>
<h1 class="nutrien" style="color:green; background-color:lightgray;text-align: center">NUTRIENTS INFORMATION</h1>
<br>
<table style="width:100%" border="1">
<tr><td style="word-wrap:break-word;width:50%;padding-left: 300px;"><b>Nutrient</b></td><td  style="word-wrap:break-word;width:50%;padding-left: 300px; "><b>Value</b></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px; ">Calcium</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px; "> <%=nutritional_info.calcium%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Calories</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.calories%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Calories Fat</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.calories_fat%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Carbohydrates</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.carbohydrates%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Cholesterol</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.cholesterol%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Fat</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.fat%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Iron</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.iron%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Protein</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.protein%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Saturated Fat</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.saturated_fat%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Sodium</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.sodium%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Trans Fat</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.trans_fat%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Vitamin A</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.vitamin_a%></td></tr>
<tr><td  style="word-wrap:break-word;width:50%;padding-left: 300px;">Vitamin C</td><td  style="word-wrap:break-word;width:50%;padding-left: 300px;"> <%=nutritional_info.vitamin_c%></td></tr>
</table>

</div>
	

</body>
</html>



